.App {
  text-align: center;
}

.App-header {
  background-color: blue;
  position: sticky;
  top: 0;
  padding: 20px;
  color: white;
  z-index: 999;
}

.App-title {
  font-size: 1.5em;
}

/* Link back to home page */
.back-home{
  background-image: url("./icons/arrow-back.svg");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 50px;
  color: white;
  display: block;
  font-size: 0;
  height: 50px;
  position: sticky;
  left: 90%;
  top: 5vh;
  width: 50px;
  border-radius: 30px;
}

/* Style of books */
.book{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-left: 0;
  width: 25%;
}

.book-authors{
  color: grey;
  margin-top: 0;
  text-align: center;
}

.book-container{
  margin-top: 2vw;
  padding: 2vw;
  position: relative;
  text-align: center;
}

.book-cover{
  /* Default background in case there is no cover pic in the database */
  background-image: url('./icons/no_cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vw;
  margin: auto;
  width:15vw;
}

.book-details{
  background-color: aqua;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  margin: auto;
  margin-bottom: 10px;
  width:80px
}

.book-shelf-changer {  
  background: rgb(0, 174, 255);
  background-position: center;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 50%;
  bottom: 80px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 40px;
  position: absolute;
  right: -13px;
  width: 40px;
}

.book-shelf-changer select{
  background: rgb(0, 174, 255);
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.book-title{
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* Link to the search page  */
.search-book{
  background-image: url("./icons/plus.png");
  background-repeat: no-repeat;
  background-size: 50px;
  color: white;
  display: block;
  font-size: 0;
  height: 50px;
  position: sticky;
  left: 90%;
  bottom: 5vh;
  width: 50px;
}

/* Style for the search book page */
.search-books, .search-books-top{
  margin: 10px;
}

.search-books-top{
  border-bottom-style: solid;
  border-color: grey;
  display: flex;
  flex-flow: wrap;
}

.search-results{
  font-style: italic;
  line-height: 2em;
  text-align: center;
}

/* Styling of the sheves  */
.shelf{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.shelf-title{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: lightgrey;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  width: 100%;

}
.shelves{
  padding: 10px;
}

/* Styling of a book list in sheves or in the search page */
.book-list{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 0.7em;
  padding: 0;
  width: 100%;
}